doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title CANVAS PROTOTYPING
    meta(name='viewport', content='width=device-width, initial-scale=0.80, minimum-scale=0.80, maximum-scale=1.0, user-scalable=no, viewport-fit=cover')

    link(rel='stylesheet', href='/css/index.css')

  body

    include _header

    block content

    include _footer

  script(src='/js/vendor.bundle.js')
  script(src='/js/index.bundle.js')
