extends modules/_layout

block content
  
  canvas#cvs(width=1024 height=512 style='margin-top: 60px;')

  section.loading
    h2 Taste your love
    .loading__gauge
      p Loading...
      progress(value="0" max="100")

  section.top(style='display: none')
    .logo
    h2 Taste your love
    .top__start
      a.top__startButton start
      p.top__terms 利用規約に同意して始める
    .top__footer
      .logo

  section.introduction
    h3 世界でたったひとつの愛を味わおう。
    p 二人の愛は世界でたったひとつ。
    p けれど、愛は目に見えず、<br>手で触れられないもの。
    p そんな二人の愛も、<br>味わいにして確かめてみましょう。

    .introduction__button
      a next
  section.recording.recording1
    p
      | まず、相手の手を握り、<br>
      | 目を見つめながら、<br>
      | スマートフォンに、<br>
      | 「愛してる。」<br>
      | と言ってください。

    a.recording__button 録音する
    a.recording__next next

  section.recording.recording2
    p
      | 次に、相手の手を握り、<br>
      | 目を見つめながら、<br>
      | スマートフォンに、<br>
      | 「愛してる。」<br>
      | と言ってください。

    a.recording__button 録音する
    a.recording__next next


  section.recording2
  section.generating
  section.result
  .terms
  .campaign

  .ui
    table
      select(id='filter')
        option LPF
        option HPF
        option BPF
        option LowShelf
        option HighShelf
        option Peaking
        option Notch
        option AllPass
      br
      input(type="range" min="100" max="20000" id="freq" size="10" value="3000")
      #freqlabel 3000
      br
      input(type="range" min="-4" max="4" step="0.1" id="q" size="10" value="0")
      #qlabel 0
      br
      input(type="range" min="-4" max="4" step="0.1" id="gain" size="10" value="0")
      #gainlabel 0
